<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-app="directoryApp">
    <div class="container">
      <div class="row">
        <h1>UF Directory App</h1>
      </div>
      <div class="row" ng-controller="ListingsController">
        <div class="col-md-6">

          <div class="input-group" id="searchBar"  >


            <!--
              DONE
                Implement a way to filter through listings using the search bar

              -->
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search" ng-model="query">
          </div>
          <div class="tableWrapper">
            <table class="table table-striped table-hover">
              <tr>
                <th>Code</th>
                <th>Building Name</th>
              </tr>
              <tr ng-repeat="list in listings | filter:query" ng-click="showDetails($index)">
                <div>
                  <td>{{list.code}}</td>
                  <td>{{list.name}}</td>
                </div>

              </tr>
              <!--
                  DONE
                  Fill in the rest of the table:
                      * populate the rows with the code and name of each listing
                      * include a way to remove individual listings

                -->
            </table>
          </div>

          <!--

              Write an HTML form that adds new listings to the directory

            -->
        </div>
        <div class="col-md-6">
          <div class="jumbotron">
            <h4>Detailed Information</h4>
            <h3 ng-show="newItem.name">{{newItem.name}}</h3>
            <ul>
              <li ng-show="newItem.code"> Building Code: {{newItem.code}}</li>
              <li ng-show="newItem.address">Address: {{newItem.address}}</li>
              <li ng-show="newItem.coordinates.latitude"> Coordinates:</li>
                <ul>
                  <li ng-show="newItem.coordinates.latitude">Latitude: {{newItem.coordinates.latitude}}</li>
                  <li ng-show="newItem.coordinates.longitude"> {{newItem.coordinates.longitude}}</li>
                </ul>
            </ul>

            <!--
            DONE
              Include a way to display detailed information about an individual listing:
                   * consider how to use ng-click within the the table to implement this feature
                   <p>{{newItem}}</p>

             -->
          </div>

          <div>
            <h3>Add Item Form</h3>
            <form name="addForm">

          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="app.js"></script>
    <script src="listingController.js"></script>
    <script src="listingFactory.js"></script>
  </body>
</html>
